
analizy_wynikow/~$Wyniki_indywidualne_SSI_v0.1.xlsx

~$SZdoktorat.docx

~WRL0899.tmp

pomocnicze/~$Analiza_demograficzna_do opisu badania ilościowego.xlsx

analizy_wynikow/~$niki_wywiadów_SSI_v0.1.docx

analizy_wynikow/~WRL0196.tmp

~WRL3413.tmp

analizy_wynikow/~$Analizy wyników rankingów.xlsx

~WRL1027.tmp

~WRL3650.tmp

analizy_wynikow/~$niki_wywiadów_SSI_v0.2.docx

analizy_wynikow/~$Wyniki_wywiadów_SSI_v1.0.xlsx

analizy_wynikow/~WRL0128.tmp

~WRL0003.tmp

analizy_ELA/~$graduates-institution-data.xlsx

analizy_ELA/~$graduates-institution-dictionary.xlsx

analizy_wynikow/~$Wyniki_indywidualne_SSI_v1.0.xlsx

~WRL1369.tmp

~WRL2773.tmp

~WRL1067.tmp

*.tmp

analizy_SLR/~$Analiza SLR479_Scopus_20231202.xlsx

pomocnicze/robocze/.$ProcesTworzeniaStrategiiRelacjiZ_Interesariuszami.drawio.bkp

Obrona_JPSZEFLER/~$SSI_forHEI_QMS_PL_v0.1.pptx

~$toreferat_Jan Paweł Szefler.docx

~$SZ_SSI_thesis.docx

monography_materials/~$ructureNotes_SSDQM_inHiEd_Monography.docx

~$SSDQM_inHigherEducation_Monography.docx
