
analizy_wynikow/~$Wyniki_indywidualne_SSI_v0.1.xlsx

~$SZdoktorat.docx

~WRL0899.tmp

pomocnicze/~$Analiza_demograficzna_do opisu badania ilościowego.xlsx

analizy_wynikow/~$niki_wywiadów_SSI_v0.1.docx

analizy_wynikow/~WRL0196.tmp

~WRL3413.tmp

analizy_wynikow/~$Analizy wyników rankingów.xlsx

~WRL1027.tmp
